@model IEnumerable<ProjectManagementSystem.Models.DELIVERABLE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Deliverable_deadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deliverable_end_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deliverable_start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estimated_manhours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manhours_charged)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_update)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_update_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Progress_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROJECT.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Deliverable_deadline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deliverable_end_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deliverable_start_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Budget)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estimated_manhours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manhours_charged)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last_update)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last_update_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Progress_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROJECT.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Deliverable_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Deliverable_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Deliverable_ID })
        </td>
    </tr>
}

</table>
